<div class="jumbotron">
  <div class="question-text">
    <h2><%= @question.title %></h2>
    <h4><%= @question.body %></h4></br>
    <h5>-<%=@question.user.username%></h5>
  </div>
</div>
<div class="vote-buttons">
  <form method="POST" action="/questions/:id/upvote">
    <input type="submit" value="^" />
  </form>
  <form method="POST" action="/questions/:id/downvote">
    <input type="submit" value="v" />
  </form>
</div>


<%if user? && current_user == @question.user_id%>
	<a href="/questions/<%=@question.id%>/edit">Edit question</a>
<% elsif user? && current_user != @question.user_id && (@question.answers.select {|answer| answer.user_id == current_user}).empty? %>
	<h4><a href="/questions/<%=@question.id%>/answers/new">Answer this question</a></h4>
<%end%>



<% @answers.each do |answer| %>
	<h4><%= answer.body %></h4>
	<%if current_user == answer.user_id %>
		<a href="/questions/<%=@question.id%>/answers/<%=answer.id%>/edit">EDIT</a>
	<% end %>
<% end %>
